*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F7F0F5;
}
.header
{
    grid-column: 1/3;
    padding: 12px;
    font-size: 72px;
    color: #F7F0F5;
    background-color: #A31621;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 7.1fr;

}
.form
{
    background-color: #FCF7F8;
    box-shadow: 0 10px  10px -10px gray;
    padding: 12px;
    display: grid;
    grid-template-rows: 150px 100px;
}
.book-container
{
    padding: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2B303A;
 
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #1E1E24;
    padding: 10px;
    flex: 0 1 350px;
    font-size: 1.5rem;
    text-align: center;

    border-radius: 10px;
}
.book-info
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-fields
{
    display: flex;
    gap: 50px;
 
}
input
{
    border: 1px solid #CED3DC ;
    border-radius: 4px;
    padding: 6px;
    font-size: large;
    background-color: #CED3DC;
}


label
{
    font-size: 18px;
    display: block;
    color: #333;
    text-shadow: 1px;
}
.field-column
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input:invalid
{
    border: 2px solid red
}
input:focus
{
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px 3px 5px;
    
}

button
{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    background-color:#CED3DC ;
    border: #596D48;
    padding: 12px 40px;
    border-radius: 5px;
}
.remove
{
    background-color: red;
}
.submission
{
    justify-self: center;
}
